
#root{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;

}
.app-container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 6rem;
  padding-bottom: 2rem;
}
.weather-container{
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 2rem 2.2rem;
  width: 80%;
  max-width: 1200px; 
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  
}
.top-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city{
  font-size: 1.5rem;
  text-align: left;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  opacity: 0.5;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.temperature{
  padding: 0;
  font-size: 4rem;
  font-weight: bold;
  color: black;
  font-family: 'Quicksand', sans-serif;
}
.unit{
  font-size: 1.5rem;
  font-weight: lighter;
}
.sky{
  font-family: 'Quicksand', sans-serif;
  opacity: 0.7;
  color: black;
  font-weight: lighter;
  font-size: 1rem;
}
.image{
  padding: 0;
  margin: 0 ;
}
.day{
  background-color: #6EBCED;
}
.afternoon{
  background-color: orange;
}

.night{
  background-color: black;
}